{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% translate "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h1 class="display-6 mb-4 text-center" style="font-family: 'Playfair Display', serif;">
                        {% translate "Enter Sign-In Code" %}
                    </h1>
                    <p class="text-center lead mb-3">
                        {% setvar email_link %}
                            <a href="mailto:{{ email }}">{{ email }}</a>
                        {% endsetvar %}
                        {% blocktranslate %}We’ve sent a code to {{ email_link }}. The code expires shortly, so please enter it soon.{% endblocktranslate %}
                    </p>
                    {% url 'account_confirm_login_code' as login_url %}
                    <form method="post" action="{{ login_url }}" class="needs-validation">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.code|as_crispy_field }}
                        </div>
                        {{ redirect_field }}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <button type="submit" class="btn btn-primary btn-lg mt-3" style="font-family: 'Lora', serif;">
                                {% translate "Sign In" %}
                            </button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
                            <input type="hidden" name="next" value="{% url 'account_login' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link text-secondary mt-3" style="text-decoration: underline;">
                                {% translate "Cancel" %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
