{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h1 class="display-6 mb-4 text-center" style="font-family: 'Playfair Display', serif;">
                        {% trans "Email Address" %}
                    </h1>
                    {% if not emailaddresses %}
                        {% include "account/snippets/warn_no_email.html" %}
                    {% endif %}
                    
                    <form method="post" action="{% url 'account_email' %}" class="needs-validation">
                        {% csrf_token %}
                        {% if current_emailaddress %}
                            <div class="mb-3">
                                <label for="current_email" class="form-label">
                                    {% translate "Current email" %}:
                                </label>
                                <input type="email" id="current_email" class="form-control" value="{{ current_emailaddress.email }}" disabled>
                            </div>
                        {% endif %}
                        
                        {% if new_emailaddress %}
                            <div class="mb-3">
                                <label for="new_email" class="form-label">
                                    {% if not current_emailaddress %}
                                        {% translate "Current email" %}:
                                    {% else %}
                                        {% translate "Changing to" %}:
                                    {% endif %}
                                </label>
                                <input type="email" id="new_email" class="form-control" value="{{ new_emailaddress.email }}" disabled>
                                <div class="form-text">
                                    {% blocktranslate %}Your email address is still pending verification.{% endblocktranslate %}
                                </div>
                                <button type="submit" form="pending-email" name="action_send" class="btn btn-secondary btn-sm mt-2">
                                    {% trans 'Re-send Verification' %}
      
