<script type="text/javascript">
    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var photoId = $(allQtyInputs[i]).data('photo_id');
        var currentValue = parseInt($(`#id_qty_${photoId}`).val());
        handleEnableDisable(photoId, currentValue);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var photoId = $(this).data('photo_id');
        var currentValue = parseInt($(this).val());
        handleEnableDisable(photoId, currentValue);
    });

    // Function to enable/disable arrows based on quantity
    function handleEnableDisable(photoId, currentValue) {
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        // Handle browser-specific disabling of input arrows
        $(`#id_qty_${photoId}`).prop('min', 1).prop('max', 99);
    }
</script>
