{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-1">Gallery</h1>
    <p>Explore our collection of beautiful deep photography.</p>

    <div class="row">
        {% if photos %}
            {% for photo in photos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ photo.title }}</h5>
                        <p class="card-text">{{ photo.description }}</p>
                        <a href="{% url 'photo_detail' photo.id %}" class="btn btn-primary text-white">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No photos available in the gallery yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
