{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}  <!-- Load the custom filter -->

{% block title %}Home | Really Deep Photography{% endblock %}

{% block content %}
<div class="container mt-1">
    <section class="home-welcome">
        <h2 class="text-center text-white">Featured Collections</h2>
        <p class="lead text-center">Explore our exclusive photo collections from renowned photographers.</p>
        
        <!-- Featured Photos Section -->
        <div class="row mt-4">
            {% for photo in featured_photos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <!-- Cloudinary image with optimization -->
                    <img src="{{ photo.image.url|cloudinary_optimized }}" class="card-img-top img-fluid" alt="{{ photo.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ photo.title }}</h5>
                        <p class="card-text">{{ photo.description }}</p>
                        <a href="{% url 'photo_detail' photo.id %}" class="btn btn-primary">View Collection</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
