/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: white; /* Main background */
    color: #333; /* Default text color */
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa; /* Light background for navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-link {
    color: #333;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #000; /* Slightly darker on hover */
}

/* Main Content */

main {
    flex-grow: 1; /* This will push the footer to the bottom */
}

.container {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

.hero-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3rem 1rem;
}

.hero-section h1 {
    font-size: 2rem;
}

.hero-section p {
    font-size: 1.2rem;
}

.hero-section a {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    color: black;
    background-color: white;
    border: none;
    text-decoration: none;
    border-radius: 4px;
}

.hero-section a:hover {
    background-color: #eaeaea;
}

/* Text inputs */
input[type="text"]:focus {
    box-shadow: none;
    border-color: gray;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: auto;
}

/* Mobile-first approach */
.container {
    padding: 1rem;
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.5rem;
    }

    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .hero-section h1 {
        font-size: 3rem;
    }

    .hero-section p {
        font-size: 1.75rem;
    }

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .hero-section h1 {
        font-size: 3.5rem;
    }

    .hero-section p {
        font-size: 2rem;
    }

    .container {
        max-width: 1140px;
    }
}
