{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-4">
    <h1>{{ photo.title }}</h1>

    <div class="row">
        <div class="col-md-6">
            <!-- Cloudinary image with optimization -->
            <img src="{{ photo.image.url|cloudinary_optimized }}" class="img-fluid" alt="{{ photo.title }}">
        </div>
        <div class="col-md-6">
            <h4>Description</h4>
            <p>{{ photo.description }}</p>
            <h4>Price</h4>
            <p>{{ photo.price_display }}</p>

            <!-- Quantity Selector -->
            <div class="col-12">
                <p class="mt-3"><strong>Quantity:</strong></p>
                <div class="form-group w-50">
                    <input class="form-control qty_input" type="number"
                        name="quantity" value="1" min="1" max="99"
                        data-photo_id="{{ photo.id }}"
                        id="id_qty_{{ photo.id }}">
                </div>
            </div>

            <a href="{% url 'gallery' %}" class="btn btn-primary mt-2">Back to Gallery</a>
            <!-- Add an option to add to cart -->
            <form action="{% url 'add_to_cart' photo.id %}" method="POST" class="mt-3">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1" id="quantity-input">
                <!-- Include the redirect_url hidden field -->
                <input type="hidden" name="redirect_url" value="{% url 'view_cart' %}">
                <button type="submit" class="btn btn-success">Add to Cart</button>
            </form>
        </div>
    </div>
</div>

{% block postloadjs %}
{{ block.super }}
{% include 'photos/includes/quantity_input_script.html' %}
{% endblock %}
{% endblock %}
