{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-4">
    <h1>{{ photo.title }}</h1>

    <!-- Cart Link -->
    <div class="mb-3">
        <a href="{% url 'view_cart' %}" class="btn btn-outline-info">
            View Cart (
            {% if user.is_authenticated %}
                {% with request.user.cart.items.count as cart_count %}
                    {{ cart_count }}
                {% endwith %}
            {% else %}
                0
            {% endif %}
            )
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Cloudinary image with optimization -->
            <img src="{{ photo.image.url|cloudinary_optimized }}" class="img-fluid" alt="{{ photo.title }}">
        </div>
        <div class="col-md-6">
            <h4>Description</h4>
            <p>{{ photo.description }}</p>
            <h4>Price</h4>
            <p>{{ photo.price_display }}</p>

            <!-- Quantity Selector -->
            <div class="col-12">
                <p class="mt-3"><strong>Quantity:</strong></p>
                <div class="form-group w-50">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn btn-black rounded-0" 
                                data-item_id="{{ photo.id }}" id="decrement-qty_{{ photo.id }}">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control qty_input" type="number"
                            name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ photo.id }}"
                            id="id_qty_{{ photo.id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-black rounded-0"
                                data-item_id="{{ photo.id }}" id="increment-qty_{{ photo.id }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <a href="{% url 'gallery' %}" class="btn btn-primary mt-2">Back to Gallery</a>
            <!-- Add an option to add to cart -->
            <form action="{% url 'add_to_cart' photo.id %}" method="POST" class="mt-3">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1" id="quantity-input">
                <button type="submit" class="btn btn-success">Add to Cart</button>
            </form>
        </div>
    </div>
</div>

{% block postloadjs %}
{{ block.super }}
{% include 'photos/includes/quantity_input_script.html' %}
{% endblock %}
{% endblock %}
