.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  /* height: 40px; */
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

fieldset {
    background-color: #f8f8f8;  /* Light gray background */
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;  /* Light border */
}

.btn-outline-black {
    background-color: #f1f1f1 !important;
    color: #333 !important;
    border: 2px solid #333 !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
}

.btn-outline-black:hover {
    background-color: #ddd !important;
    color: #000 !important;
}

.btn-black {
    background-color: #000 !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
}

.btn-black:hover {
    background-color: gray !important;
}