{% extends 'base.html' %}
{% block title %}About Us | Discover Really Deep Photography{% endblock %}

{% block head %}
    {{ block.super }}
    <meta name="description" content="Learn about Really Deep Photography, our passion for capturing artistic images, and our dedication to delivering beautiful prints. Meet the vision behind the art.">
    <meta name="keywords" content="about us, photography story, art vision, Really Deep Photography, artistic prints">
{% endblock %}

{% block page_header %}{% endblock %}

{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About Us</h1>
    <p>Welcome to Really Deep Photography! We specialize in capturing stunning images that tell a story. Our passion for photography drives us to explore the world and share its beauty through our lens.</p>

    <h2>Our Mission</h2>
    <p>At Really Deep Photography, our mission is to provide high-quality prints that not only beautify your space but also evoke emotions and memories. We believe that a great photograph can make a lasting impression.</p>

    <h2>Our Journey</h2>
    <p>Founded by Robert Craig Dickerson, Really Deep Photography has grown from a hobby into a thriving business. With years of experience and a keen eye for detail, he strives to offer unique perspectives in every shot he takes.</p>

    <h2>Meet the Photographer</h2>
    <div class="row mb-4 align-items-center">  <!-- Added align-items-center for vertical alignment -->
        <div class="col-md-4">
            <img src="{% static 'images/about_photo.jpg' %}" class="img-fluid rounded-square" alt="Photo of the photographer/business owner">
        </div>
        <div class="col-md-8">
            <h3>Robert Craig Dickerson</h3>
            <p>Robert Craig Dickerson is a passionate photographer with a love for atmospheric and totally deep meaning photography. With a background in taking super-emotional pictures with his cool phone, he brings creativity and professionalism to every project.</p>
        </div>
    </div>

    <h2>Get in Touch</h2>
    <p>If you have any questions or would like to collaborate, feel free to <a href="{% url 'contact' %}">contact us</a>!</p>
</div>
{% endblock %}
