/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: white; /* Main background */
    color: #333; /* Default text color */
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa; /* Light background for navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-link {
    color: #333;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #000; /* Slightly darker on hover */
}

/* Main Content */

main {
    flex-grow: 1; /* This will push the footer to the bottom */
}

.container {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

/* Hero Section */
.hero-section {
    background-color: black;
    position: relative;
    color: white;
    text-align: center;
    padding: 3rem 1rem;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    color: white;
}

.hero-section h1 {
    font-size: 2rem;
}

.hero-section p {
    font-size: 1.2rem;
}

.hero-section a {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    color: black;
    background-color: white;
    border: none;
    text-decoration: none;
    border-radius: 4px;
}

.hero-section a:hover {
    background-color: #eaeaea;
}

/* Text inputs */
input[type="text"]:focus {
    box-shadow: none;
    border-color: gray;
}

/* Buttons */
.btt-button {
	height: 42px;
	width: 42px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.btt-link,
.update-link {
	cursor: pointer;
}

.btn-black {
    background-color: #000;
    color: #fff;
}

.btn-black:hover {
    background-color: #333; /* Slightly lighter shade on hover */
    color: #fff;
}

.remove-item {
    cursor: pointer;
    transition: color 0.3s ease;
}

.remove-item:hover {
    color: #ff0000; /* Bright red when hovered */
    text-decoration: underline;
}

/* Hide number input arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield; /* For other browsers */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: auto;
}

/* Footer Mailchimp Form Styling */
.mailchimp-signup {
    color: #fff;
    background-color: transparent;
}

.mailchimp-signup .form-label {
    color: #ccc;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.mailchimp-signup .input-group {
    display: flex;
}

.mailchimp-signup .form-control::placeholder {
    color: #aaa;
}

.mailchimp-signup .btn-primary {
    background-color: #6c757d;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
}

.mailchimp-signup .btn-primary:hover {
    background-color: #5a6268;
}


/* Mobile-first approach */
.container {
    padding: 1rem;
}

/* Media Queries for larger screens */
@media (min-width: 1200px) {
    .hero-section h1 {
        font-size: 3.5rem;
    }

    .hero-section p {
        font-size: 2rem;
    }

    .container {
        max-width: 1140px;
    }
}
